{% extends 'registration/base.html' %} {% block content %}
<section>
  <div class="container">
    <div class="row mt-5 mb-3">
      <div class="col-md-12">
        <a class="btn btn-secondary" href="/login">Retour</a>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-centered">
          <h1>Register</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %} {% for field in form %}
          <div class="form-group">
            {% if 'checkBoxInput' in field.label_tag %}
            <div class="my-2">
              <label class="form-check-label" for="{{ field.id_for_label }}">Je suis libraire :</label>
              <input
                type="checkbox"
                name="{{ field.html_name }}"
                class="form-check-input"
                maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                id="{{ field.id_for_label }}"
              />
            </div>
            {% else %}
            {{ field.label_tag }}
            <input
              type="{% if 'password' in field.label_tag %}password{% elif 'checkBoxInput' in field.label_tag %}checkbox{% else %}text{% endif %}"
              name="{{ field.html_name }}"
              class="form-control"
              maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
              id="{{ field.id_for_label }}"
              required
            />
            {% endif %}
           

          </div>
          {% if field.errors %} {% for error in field.errors %}
          <p style="font-size: 13px;">
            {{ error|escape }}
          </p>
          {% endfor %} {% endif %} {% endfor %}
       
          <button type="submit" class="btn btn-primary mt-2">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}