<html>
  <head>
    <title>Base template</title>
 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
      .col-centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% include 'navbar/navbar.html' %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    
    {% block content %} 
      <div class="container">
        <h1 class="mb-5">Bienvenue dans votre biblio-tech</h1> 
        <!-- <h2>Vous retrouverez ici les différentes fonctionnalités</h2> -->
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Vous rechercher un livre ?</h5>
                <p class="card-text">Vous pouvez naviguer dans notre biblio-tech pour retrouver les livres que vous souhaitez.</p>
                <a href="/library" class="btn btn-primary">Librairie</a>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    {% endblock %}
 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  </body>
</html>